<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Envíos</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/General.js"></script>
    <script src="~/Scripts/Login.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="navbar-header">
                    <a href=@Url.Action("Index", "Home") class="brand-logo tooltipped"
                       data-position="bottom" data-tooltip="Vamos al Inicio">
                        <img src="~/Images/icono.png" style="width:8%" />
                    </a>                <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Trazabilidad", "Index", "Trazabilidad")</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                        <li>@Html.ActionLink("Guías", "Index", "Guias")</li>
                        <li>@Html.ActionLink("Sedes", "Index", "Sedes")</li>
                        <li>@Html.ActionLink("Acerca", "About", "Home")</li>
                        <li><a class="waves-effect waves-light modal-trigger" href="#modal1">Iniciar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h3>Iniciar Sesión</h3>
                <div class="input-field col s6">
                    <input id="usuario" type="text" class="validate" name="usuario">
                    <label for="usuario">Usuario</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="contraseña">Contraseña</label>
                </div>
                <div>
                    <input id="btnModal" class="btn" type="submit" name="name" value="Ingresar" onclick="loginUser()" />
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MVC Envíos</p>
        </footer>
    </div>
</body>
</html>
