@model MVCEnvios.Models.Trazabilidad

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>¿Está seguro que quiere eliminar este registro?</h3>
<div>
    <h4>Trazabilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoPaquete.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPaquete.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guia.Sede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guia.Sede)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
