@model IEnumerable<MVCEnvios.ServiceTrazabilidad.Trazabilidad>

@{
    ViewBag.Title = "Trazabilidad";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col s2">
        <a class="black-text" href=@Url.Action("Create", "Trazabilidad")><i class="medium material-icons">add_circle</i></a>
    </div>
    <div class="col s4 input-field">
        <label for="Filtrar">Filtrar</label>
        <input type="text" name="Filtrar" id="Filtrar" />
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Guía")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayName("Estado Paquete")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="filtro">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGuia)
                </td>
                <td>
                    @item.Fecha.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IdEstadoPaquete)*@
                    @{
                        var estadoPaquete = item.IdEstadoPaquete;
                        switch (estadoPaquete)
                        {
                            case 1: @Html.DisplayName("EN TRANSITO")
                            break;
                        case 2: @Html.DisplayName("EN REPARTO")
                        break;
                    case 3: @Html.DisplayName("ENTREGADO")
                    break;
                case 4: @Html.DisplayName("DEVUELTO")
                break;
        }
                    }
                </td>
                <td>
                    @Html.ActionLink("create", "Edit", new { id = item.Id }, new { @class = "material-icons" })
                    @Html.ActionLink("list", "Details", new { id = item.Id }, new { @class = "material-icons" })
                    @Html.ActionLink("delete", "Delete", new { id = item.Id }, new { @class = "material-icons" })
                </td>
            </tr>
        }
    </tbody>
</table>
