@model MVCEnvios.ServiceGuia.Guia

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Guía</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayName("Dirección Origen")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOrigen)
        </dd>

        <dt>
            @Html.DisplayName("Teléfono Emisor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receptor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receptor)
        </dd>

        <dt>
            @Html.DisplayName("Dirección Destino")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionDestino)
        </dd>

        <dt>
            @Html.DisplayName("Teléfono Receptor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoReceptor)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de Paquete")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPaquete)
        </dd>

        <dt>
            @Html.DisplayName("Ciudad Destino")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadDestino)
        </dd>

        <dt>
            @Html.DisplayName("Peso (Kg)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoPaquete)
        </dd>

        <dt>
            @Html.DisplayName("Valor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorEnvio)
        </dd>

        <dt>
            @Html.DisplayName("Observación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayName("Cédula del cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayName("Sede")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSede)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
